{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">
<!-- navbar toggler starts-->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- navbar toggler ends -->
    {% if title %}
    <title>Saadhan - {{title}}</title>
    {% else %}
    <title>Saadhan</title>
    {% endif %} 
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.css' %}">

    <!-- <link rel="stylesheet" href="{% static 'css/templatemo-training-studio.css' %}"> -->
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">

    </head>
    <body  class="body_design">
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        {% if user.is_authenticated %}
                        <a href="{% url 'application' %}" class="logo"><em> Saadhan</em></a>
                        {% else %}
                        <a class="logo" href="{% url 'index' %}">
                          <em> Saadhan</em>
                        </a>
                        {% endif %}
                        <!-- ***** Logo End ***** -->

                        <!-- ***** Menu Start ***** -->
                        <ul class="nav" id="navbarSupportedContent">
                            {% if user.is_authenticated %}
                            <li class="scroll-to-section"><a href="{% url 'application' %}">Application</a></li> 
                            <!-- <li class="scroll-to-section"><a href="{% url 'g' %}">Database</a></li>  -->
                            <li class="scroll-to-section"><a href="{% url 'dashboard' %}">Dashboard</a></li> 
                            <li class="main-button"><a href="{% url 'logout' %}">Log Out</a></li>
                            {% else %}
                            <li class="scroll-to-section"><a href="/" class="active">Home</a></li>
                            <li class="scroll-to-section"><a href="/#about">About</a></li>
                            <!-- <li class="scroll-to-section"><a href="#our-classes">Services</a></li> -->
                            <!-- <li class="scroll-to-section"><a href="#schedule">Schedules</a></li> -->
                            <li class="scroll-to-section"><a href="/#contact-us">Contact</a></li> 
                            <li class="scroll-to-section"><a href="{% url 'login' %}">Log In</a></li> 
                            <li class="main-button"><a href="{% url 'register' %}">Sign Up</a></li>
                        {% endif %}
                        </ul>   
                       
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
{% block content %}

{% endblock %}

    <script src="{% static 'js/jquery-2.1.0.min.js' %}"></script>

    <!-- Bootstrap -->
    <script src="{% static 'js/popper.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- Plugins -->
    <script src="{% static 'js/scrollreveal.min.js' %}"></script>
    <script src="{% static 'js/waypoints.min.js' %}"></script>
    <script src="{% static 'js/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'js/imgfix.min.js' %}"></script> 
    <script src="{% static 'js/mixitup.js' %}"></script> 
    <script src="{% static 'js/accordions.js' %}"></script>
    
    <!-- Global Init -->
    <script src="{% static 'js/custom.js' %}"></script>



</body>

</html>
