{% extends 'mainapp/application.html' %}
{% block application_content %}
{% load crispy_forms_tags %}

<div class="container">
	<div class="row">
	<div class="col-2">
	</div>
    <div class="col-9 col-md-offset-9 custyle">
    <table class="table table-striped">
    <thead>
    <a href="{% url 'products' user.id %}" class="btn text-info btn-xs pull-right"><b><-</b> Back</a>
    <a href="{% url 'add-product-category' user.id %}" class="btn text-info btn-xs pull-right"><b>+</b> Add Product Category</a>
        <legend>Product Categories ({{item|length}})</legend>
        <tr>
            <th class="text-center">#</th>
            <th class="text-center">Product Category Name</th>
            <th class="text-center">GST Rate</th>
            <th class="text-center">Action</th>
                       
            <!-- <th class="text-center">Action</th> -->
        </tr>
    </thead>

    		{% for item in item %}
    		<tr>
    			<td class="text-center">{{forloop.counter}}</td>
    			<td class="text-center">{{item.category_name}}</td>
                <td class="text-center">{{item.gst_rate}} %</td>
    			<td class="text-center">
                    <a href="{% url 'category-edit' item.id %}">Edit</a><b> |</b>
                    <a href="{% url 'category-delete' item.id %}">Delete</a>
                </td>
                
    			<!-- <td class="text-center"><a class='btn btn-info btn-xs' href="#"><span class="glyphicon glyphicon-edit"></span> Edit</a> -->
    		</tr>	
    		{% endfor %}
    </table>
    </div>
</div>
</div>
{% endblock %}