{% extends 'mainapp/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container contact">
    <div class="row">
        
        <div class="col-md-12">

            <form method="POST">
                {% csrf_token %}
            <legend>Please Enter Your Company Details Before Proceeding!</legend>
            <div class="contact-form">
                <fieldset>{{form|crispy}}</fieldset>
                <div class="form-group">        
                  <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-outline-info">Submit</button>
                  </div>
                </div>
            </div>
        </form>
        </div>
    </div>
</div>


{% endblock %}